<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="https://static.nowcoder.com/images/logo_87_87.png" rel="icon"/>
    <title>Nowcoder: Activating your account</title>
</head>
<body>
<div>
    <p>
        Hello <b th:text="${email}">xxx@xxx.com</b>,
    </p>
    <p>
        Thank you for registering a Nowcoder account. This is a confirmation email, and please verify your email address
        by clicking the following link:
        <a th:href="${url}">Confirm my account</a>
    </p>
</div>
</body>
</html>